{
  "presets": [
    [
      "@babel/preset-stage-2",
      {
        "decoratorsLegacy": true
      }
    ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "angularjs-annotate",
      {
        "explicitOnly": true
      }
    ]
  ]
}
