{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "rules": {
    "camelcase": [
      1,
      {
        "properties": "never"
      }
    ],
    "no-console": [
      1
    ],
    "no-debugger": [
      1
    ],
    "no-new": 0,
    "no-shadow": [
      1,
      {
        "hoist": "never"
      }
    ],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ],
    "semi": [
      2,
      "always"
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "modules": true
  }
}
